<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='javascripts/main.js'></script>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/images/cow-head-icon.png">
</head>
<body class="blankspace">    
    {{{body}}}
</body>
</html>